.input-wrapper {
	margin: 5px 15px;
	display: flex;
	align-items: flex-end;
}

.root {
	max-width: 400px;
}

.root th {
	font-weight: bold;
	text-align: center;
}

.root th:nth-child(1),
.root td:nth-child(1) {
	max-width: 10px;
	text-align: center;
}

.root th:nth-child(2),
.root td:nth-child(2) {
	max-width: 100px;
	word-wrap: break-word;
}

.root td:nth-child(3) {
	max-width: 265px;
}

.root .flex-third-column {
	display: flex;
	justify-content: space-between;
}
